.ton-connect-page__placeholder{box-sizing:border-box;width:100%;height:100%;position:absolute;top:0;left:0}.ton-connect-page__button{margin:16px auto 0}.ton-connect-page__button-connected{margin:16px 24px 16px auto}
